<div data-role="view" data-title="Profile" data-layout="main" data-model="app.profileView" data-show="app.profileView.onShow">
    <!-- START_CUSTOM_CODE_profileView -->
    <!-- END_CUSTOM_CODE_profileView -->
    <ul data-role="listview" data-style="inset" data-template="profileViewModelTemplate" data-bind="{ source: profileViewModel.dataSource}" data-pull-to-refresh="false" data-endless-scroll="false">
    </ul>
    <script type="text/x-kendo-template" id="profileViewModelTemplate">
        <div class="image-with-text">
            <img src="https://placeholdit.imgix.net/~text?txtsize=11&txt=100%C3%9780&w=100&h=80">
            <div class="">
            	<span class="#: data.icon() #"></span>#: data['Name'] #
            	<p>#: data['Phone'] #</p>
            	<span>#: data['Email'] #</span>
        	</div>
        </div>
        
        <div class="areas">
        	<h3>Areas of Specialization</h3>
        </div>
        
       <!-- Little Information -->
       <div class="little-image">
       	  <h3>Antonio Koke</h3>
       	   <img src="http://xitrum-placeholder.herokuapp.com/circle/30">  
           <div class="little-info">
              <span>16 years old</span>
              <span>601 Capitol Ave</span>
              <span>Indianapolis, IN</span>
              <a data-role="button" class="primary" data-bind="events: { click: homeModel.signin }">MAP</a>
           </div>
       </div>  
       
       <!-- Next Agenda-->
       <div class="next-agenda">
       	  <h3>Next Agenda</h3>
          <span>Gymnastics</span>
          <span>October 7, 2015</span>
          <span>5:00PM</span>         
       </div>  
    </script>
</div>


        