<div data-role="view" data-title="Profile" data-layout="main" data-model="app.profileView" data-show="app.profileView.onShow">
    <!-- START_CUSTOM_CODE_profileView -->
    <!-- END_CUSTOM_CODE_profileView -->
    <ul data-role="listview" data-style="inset" data-template="profileViewModelTemplate" data-bind="{ source: profileViewModel.dataSource}" data-pull-to-refresh="false" data-endless-scroll="false">
    </ul>
    <script type="text/x-kendo-template" id="profileViewModelTemplate">
        <div class="image-with-text">
            <img src="https://placeholdit.imgix.net/~text?txtsize=11&txt=100%C3%9780&w=100&h=80">
            <div class="">
            	<span class="#: data.icon() #"></span>#: data['Name'] #
            	<span>#: data['Phone'] #</span>
            	<span>9-12yrs</span>
        	</div>
        </div>
    </script>
</div>


        