<div data-role="view" data-title="Home" data-layout="signin-layout" data-model="app.home" data-show="app.home.init" data-hide="app.home.cleanView">
    <div class="signin-view">
        <div class="app-logo">
           <img src="img/logo.png" class="img-responsive"/>
        </div>
        <form>
            <div>
                <div class="form-group icon-input-container">
                   <span class="fa fa-envelope"></span>
                   <input class="form-control" type="email" placeholder="email address" data-bind="value: homeModel.email" required autofocus>
                </div>
                <div class="form-group icon-input-container">
                     <span class="fa fa-lock"></span>
                    <input class="form-control" type="password" placeholder="password" data-bind="value: homeModel.password" required>
                </div>    
            </div>

            <div>
                <a class="btn btn-primary d-block" data-bind="events: { click: homeModel.signin }">Sign In</a>

                <a class="d-block forgot-password" data-role="button" data-bind="events: { click: homeModel.toggleView }">Forgot Password?</a>

            </div>
        </form>      
    </div>
   
    <!-- START_CUSTOM_CODE_home -->
    <!-- END_CUSTOM_CODE_home -->
   
</div>