#kendoUiMobileApp .image-with-text img {
    float: left;
    margin-right: 15px;
}

#kendoUiMobileApp .block {
    display: block;
    margin: 1em;
    padding: 1em;
    text-align: center;
}

#kendoUiMobileApp .button-group,
#kendoUiMobileApp .icon-group {
    width: 100%;
    display: table;
    border-collapse: separate;
    border-spacing: 1em;
}

#kendoUiMobileApp .button-group {
    table-layout: fixed;
}

#kendoUiMobileApp .button-group .km-button {
    display: table-cell;
    padding: .6em .8em;
    margin: 1em 0;
}

#kendoUiMobileApp .button-group.button-group-vertical .km-button {
    display: block;
}

#kendoUiMobileApp.km-flat .button-group .km-button.primary {
    color: #fff;
    background-color: #10c4b2;
}

#kendoUiMobileApp.km-ios7 .button-group .km-button.primary {
    color: #fff;
    background-color: #007aff;
}

#kendoUiMobileApp.km-android .button-group .km-button.primary {
    color: #fff;
    background-color: #33b5e5;
}

#kendoUiMobileApp .group-separator {
    border: none;
    background: transparent;
}

#kendoUiMobileApp .group-separator-header {
    margin: 1em 0;
}

#kendoUiMobileApp .app-icon {
    text-align: center;
    margin: 3em 0;
}

#kendoUiMobileApp .view-title {
    text-align: center;
    font-weight: normal;
}

#kendoUiMobileApp .km-drawer-button:after,
#kendoUiMobileApp .km-drawer-button:before {
    content: '\e077';
}

#kendoUiMobileApp.km-flat .km-drawer .km-content {
    background-color: #fcfcfc;
}

#kendoUiMobileApp .icon-group .app-icon,
#kendoUiMobileApp .icon-group .app-details {
    display: table-cell;
    vertical-align: top;
}

#kendoUiMobileApp .icon-group .app-icon {
    margin: 0;
    width: 5em;
    overflow: hidden;
    text-align: left;
}

#kendoUiMobileApp .icon-group .app-icon img {
    display: block;
    max-width: 5em;
    height: auto;
}

#kendoUiMobileApp .icon-group .app-details h2,
#kendoUiMobileApp .icon-group .app-details h4 {
    font-weight: normal;
    margin: 0;
}

#kendoUiMobileApp .icon-group .app-details h4 {
    color: #828282;
    margin-top: 0.5em;
}


/* START_CUSTOM_CODE_kendoUiMobileApp */

.little-image img {
    display: block;
    float: left;
    margin-top: 22px;
}

.little-image {
    margin-top: 90px;
}

.little-image h3 {
    margin-bottom: 0px;
}

.little-info {
    padding: 12px;
    float: right;
    margin-right: 40px;
}

.little-info a {
    margin-left: 12px;
}

.signin-view img {
    margin: 0px auto;
    display: block;
}

.next-agenda {
    margin-top: 200px;
}

.next-agenda span {
    display: block;
    margin-left: 12px;
}

textarea.shortnote {
    border: 1px solid #eee;
    height: 130px;
    float: left;
}

input#submit {
    background: #000;
    color: #fff;
}

a.activityname h3 {
    display: inline-block;
}

span.activity-category {
    float: right;
    font-size: 0.8em;
    font-weight: bold;
}

span.rating {
    float: right;
    font-size: 0.8em;
}

span.date {
    font-size: 0.8em;
}

.activity-ratings {
    margin-top: 10px;
}

.activity-details img {
    margin-left: 15px;
}

.activity-details span {
    font-weight: bold;
    margin-right: 30px;
    display: block;
    margin-bottom: 6px;
}

.activity-info {
    float: right;
}

.activity-map {
    margin-top: 20px;
    margin-left: 14px;
}

h3.activitytitle {
    text-align: center;
}

.more-infoheader {
    text-align: center;
}


/* END_CUSTOM_CODE_kendoUiMobileApp */


/*Fix navigation labels*/

#kendoUiMobileApp #navigation-container.km-tabstrip .km-button {
    vertical-align: top;
}

#kendoUiMobileApp #navigation-container.km-tabstrip .km-button .km-text {
    max-width: 100%;
    word-wrap: break-word;
}