body {
    font-family: "Verdana", "sans-serif";
}

d-block {
    display: block;
}

.text-left {
    text-align:left !important;
}

.text-center {
    text-align:center !important;
}

.text-right {
    text-align:right !important;
}

#kendoUiMobileApp .image-with-text img {
    float: left;
    margin-right: 15px;
}

#kendoUiMobileApp .block {
    display: block;
    margin: 1em;
    padding: 1em;
    text-align: center;
}

#kendoUiMobileApp .button-group,
#kendoUiMobileApp .icon-group {
    width: 100%;
    display: table;
    border-collapse: separate;
    border-spacing: 1em;
}

#kendoUiMobileApp .button-group {
    table-layout: fixed;
}

#kendoUiMobileApp .button-group .km-button {
    display: table-cell;
    padding: .6em .8em;
    margin: 1em 0;
}

#kendoUiMobileApp .button-group.button-group-vertical .km-button {
    display: block;
}

#kendoUiMobileApp.km-flat .button-group .km-button.primary {
    color: #fff;
    background-color: #10c4b2;
}

#kendoUiMobileApp.km-ios7 .button-group .km-button.primary {
    color: #fff;
    background-color: #007aff;
}

#kendoUiMobileApp.km-android .button-group .km-button.primary {
    color: #fff;
    background-color: #33b5e5;
}

#kendoUiMobileApp .group-separator {
    border: none;
    background: transparent;
}

#kendoUiMobileApp .group-separator-header {
    margin: 1em 0;
}

#kendoUiMobileApp .app-icon {
    text-align: center;
    margin: 3em 0;
}

#kendoUiMobileApp .view-title {
    text-align: center;
    font-weight: normal;
}

#kendoUiMobileApp .km-drawer-button:after,
#kendoUiMobileApp .km-drawer-button:before {
    content: '\e077';
}

#kendoUiMobileApp.km-flat .km-drawer .km-content {
    background-color: #fcfcfc;
}

#kendoUiMobileApp .icon-group .app-icon,
#kendoUiMobileApp .icon-group .app-details {
    display: table-cell;
    vertical-align: top;
}

#kendoUiMobileApp .icon-group .app-icon {
    margin: 0;
    width: 5em;
    overflow: hidden;
    text-align: left;
}

#kendoUiMobileApp .icon-group .app-icon img {
    display: block;
    max-width: 5em;
    height: auto;
}

#kendoUiMobileApp .icon-group .app-details h2,
#kendoUiMobileApp .icon-group .app-details h4 {
    font-weight: normal;
    margin: 0;
}

#kendoUiMobileApp .icon-group .app-details h4 {
    color: #828282;
    margin-top: 0.5em;
}


/* START_CUSTOM_CODE_kendoUiMobileApp */

.little-image img {
    display: block;
    float: left;
}

.little-image h3 {
    font-size: 0.9em;
    margin-left: 0em;
}

.little-image {
   margin-top: 30px;
}

.little-info {
    float: right;
    margin-right: 30px;
}

.little-info a {
    margin-top: 10px;
}

.little-info span {
    display: block;
    font-size: 0.8em;
}
.areas h3 {
    text-align: center;
    text-decoration: underline;
    font-size: 0.9em;
}

.areas p {
    font-size: 0.8em;
}


.next-agenda {
  margin-top: 140px;
}

.next-agenda h3 {
    font-size: 0.9em;
    margin-left: 0em;
}

.next-agenda span {
    display: block;
    font-size: 0.8em;
}

.notes h3 {
    margin-left: 0em;
    font-size: 0.8em;
}

.notes textarea {
    border: 1px solid #eee;
    width: 173px;
    height: 51px;
    border: 1px solid;
    float: left;
}

input#submit {
    background: #000;
    color: #fff;
}

a.activityname h3 {
    display: inline-block;
}

span.activity-category {
    position: absolute;
    font-size: 0.8em;
    font-weight: bold;
    right: 16px;
}

span.rating {
    float: right;
    font-size: 0.8em;
}

span.date {
    font-size: 0.8em;
}

.activity-ratings {
    margin-top: 10px;
}

.activity-details img {
    margin-left: 15px;
}

.activity-details span {
    font-weight: bold;
    display: block;
    margin-bottom: 6px;
}

.activity-info {
    float: right;
    margin-right: 10px;
}

.activity-map {
    margin-top: 20px;
    margin-left: 14px;
}

h3.activitytitle {
    text-align: center;
}

.more-infoheader {
    text-align: center;
}

.headericonn {
    position: absolute;
    top: 13px;
    right: 35px;
}

.headericon {
    position: absolute;
    top: 13px;
    right: 78px;
}

.app-logo {
    display: block;
    text-align: center;
    font-size: 4em;
    margin-top: 20px; 
    padding:20px;
}

.signin-view img, .signup-view img {
    margin: 0px auto;
    display: block;
}

.signin-view form, .signup-view form {
    padding:10px 20px;
}

.icon-input-container {
    position:relative;
}

.icon-input-container span {
    color:#8f23b3;
    position: absolute;
    top: 14px;
    left: 10px;
}

.icon-input-container input {
    text-indent:40px;
	font-size:20px;
	height:35px;
    padding:15px 0px;
}

img.signin-bg {
    position:fixed;
    bottom:0px;
    left:0px;
    width:100%;
    z-index:-1;
}

.signin-view .btn-primary, .signup-view .btn-primary  {
    font-size:25px;
    color:#fff !important;
}

.signin-view .forgot-password, .signup-view .forgot-password {
    margin:10px auto;
    width:100%;
    text-align:center;
    font-size:15px;
    color:#242b50;
}

.km-footer {
    z-index:-1;
}
/* END_CUSTOM_CODE_kendoUiMobileApp */

.btn-primary {
    background-color:#8f23b3;
    padding:10px;
    border:none;
    border-radius:0px;
    color:#fff;
}

.btn-cancel {
    background-color: #ccc;
    border-radius: 0px;
    padding: 10px;
}

.d-block {
    display:block;
}

.form-control {
    border:none;
    border-radius: 0px;
    border-bottom:2px solid #f5f5f5;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color:#f5f5f5;
}

::-webkit-input-placeholder {
    color: #242b50 !important;
}
 
::-moz-placeholder {
    color: #242b50 !important;
}

/*Fix navigation labels*/

#kendoUiMobileApp #navigation-container.km-tabstrip .km-button {
    vertical-align: top;
}

#kendoUiMobileApp #navigation-container.km-tabstrip .km-button .km-text {
    max-width: 100%;
    word-wrap: break-word;
}

/* Custom Header */
.km-widget .km-navbar {
    background-color:#8f23b3;
    color:#fff;
}

/*for showing title in android*/
.km-android .km-navbar div.km-view-title{
     visibility: visible !important;
}

.km-hide-title {
    display:block !important;
}

.km-list:not(.km-virtual-list)>li:first-child {
    border-top-width: 1px;
}

.km-list:not(.km-virtual-list)>li:last-child {
    border-bottom-width: 1px;
}

.km-content {
    background-color:#fefefe !important;
    padding-bottom:20px;
}

.header-nav {
    text-align:right;
    padding-right:15px;
}

.header-nav .col-xs-3 {
    text-align:left;
    padding-left:20px;
}

.header-nav i {
   	display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 20px;
    margin: 0px auto;
    line-height: 30px;
    border-radius: 20px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}

.header-nav a:hover i {
 	color:#fff;
    text-decoration:none;
}



/* Activity List */

.listView {
    display:block;
    margin:10px 0px 0px 0px;
    padding:0px;
    list-style-type:none;
    background-color: rgb(251, 250, 254);
}

.listView li {
    display:block;
    margin:5px 5px 15px 5px;
    padding:10px 0px 0px 0px;
    list-style-type:none;
    border:1px solid #ccc;
    border-radius:2px;
	position:relative;
    overflow:visible;
    background-color:#fff;
}

.listView li span {
    display:block;
	font-family:"Verdana", "sans-serif";
}

.listView li div.indicator {
    position:absolute;
    background-color:#fbfafe !important;
    top:-1px;
    right:-1px;
    width:auto;
    padding:10px;
    border-left:1px solid #ccc;
    border-bottom:1px solid #ccc;
    border-bottom-left-radius:3px;
    color:#0088ce;
}
.listView li div.indicator::before {
    content: " ";
    width: 10px;
    height: 37px;
    background-color: #fff;
    position: absolute;
    left: -11px;
    top: 1px;
}

.listView li span.title {
    font-size:20px;
    margin-bottom:5px;
    font-weight:bold;
    color:#242b50;
}

.listView li span.description {
    font-size:15px;
    margin-bottom:5px;
    font-weight:normal;
    color:#242b50;
}

.listView li span.cost {
    font-size:14px;
    padding-bottom:8px;
    margin-bottom:10px;
    font-weight:normal;
    color:#b4b6cc;
    border-bottom:1px solid #cecece;
    width:60%;
}

div.action-bar {
    margin-top:30px;
    padding-top:8px;
    padding-bottom:8px;
    text-align:center;
    background-color:#f5f4f9;
    border-bottom:2px solid #ccc;
}


div.action-bar i {
    display:block;
    width:35px;
    height:35px;
    border:2px solid #ccc;
    border-radius:10px;
    margin:0px auto;
    line-height: 35px;
    border-radius: 35px;
    font-size:16px;
    margin-top:-25px;
    background-color:#fff;
}

div.action-bar a:hover, div.action-bar a:focus {
    text-decoration:none;
}

div.action-bar a.details i {
    border-color:#8f23b3;
    color:#8f23b3;
}

div.action-bar a.inquire i {
    color:#fdc82f;
    border-color:#fdc82f;
}

div.action-bar a.favorite i {
    color:#e0119d;
    border-color:#e0119d;
}

div.action-bar a.complete i {
    color:#69be28;
    border-color:#69be28;
}

div.action-bar div.col-xs-3 {
    padding:0px 0px;
}

.meta {
    padding:0px 10px;
}

.tabs {
    width: 100%;
    padding-top:10px;
    color:#fff;
    background-color:#8f23b3;
	margin-bottom:15px;
}

.tabs .col-xs-6 {
    padding:0px 5px;
}

.tabs a {
    display:block;
    padding:15px 0px;
    font-size:14px;
    text-align:center;
}

.tabs a.active, .tabs a:focus, .tabs a:hover {
    display:block;
    background-color:#721d8e;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    text-decoration:none;
    color:#fff;
}

/* Filter Screen */

.filterBlock {
    display:block;
    margin:5px 5px 15px 5px;
    padding:10px;
    list-style-type:none;
    border:1px solid #ccc;
    border-radius:2px;
	position:relative;
    overflow:visible;
    background-color:#fff;
    border-bottom-width:3px;
}

.filterBlock .filter-name {
    display:block;
    font-size:17px;
    padding-bottom:8px;
    margin-bottom:10px;
    font-weight:normal;
    color:#b4b6cc;
    border-bottom:1px solid #cecece;
}

.filter-group span {
    display:block;
    font-size:18px;
    margin-bottom:10px;
    line-height:35px;
    font-family: "Verdana", "sans-serif";
}

.filter-group span:before {
   	display: block;
    float: left;
    margin-right: 10px;
    font-size: 18px;
    width: 35px;
    height: 35px;
    border-radius: 35px;
    border: 1px solid #8f23b3;
    line-height: 33px;
    text-align: center;
    color: #8f23b3;
    font-family:"FontAwesome";
    content: " ";
}

.filter-group span.fa-check:before {
    content: "\f00c";
}

.filter-group span:after {
    content: " ";
    clear:both;
    display:block;
}

.filter-group span i {
    display:block;
    float:left;
    margin-right:10px;
    font-size:18px;
    width:35px;
    height:35px;
    border-radius:35px;
    border:1px solid #8f23b3;
    line-height: 33px;
    text-align: center;
    color:#8f23b3;
}

.filter-buttons {
    margin:5px 5px 15px 5px;
    color:#fff;
}

.clear-filters {
    width:45%;
    float:left;
}

.apply-filters {
    width:45%;
    float:right;
}