<div data-role="view" data-title="Details" data-model="app.activitylistView.activitylistViewModel" data-bind="events: { show: detailsShow }">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left">Back</a>
            <span data-bind="text: currentItem.text" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; display: block; margin-left: 70px; margin-right: 70px;"></span>
        </div>
    </header>

    <h3 data-bind="text: currentItem.text"></h3>
    <p data-bind="text: currentItem.details"></p>

    <!-- START_CUSTOM_CODE_activitylistViewModel -->
    <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
        survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchang
    </p>
    <!-- END_CUSTOM_CODE_activitylistViewModel -->
</div>