<div class="view-container" 
     data-role="view" 
     id="activityList" 
     data-title="Activities" 
     data-layout="activities-header" 
     data-model="app.activityList" 
     data-init="app.activityList.init" 
     data-show="app.activityList.show" 
     data-before-show="app.activityList.onBeforeShow" 
     data-hide="app.activityList.hide" 
     data-use-native-scrolling="true">
	<!-- Start View -->
    <ul data-role="listview" class="listView" data-bind="source: viewModel.activities" data-template="foo-template">
    </ul>
    <script type="text/x-kendo-template" id="foo-template">
        <div class="indicator">
        	#: indicator #
        </div>
        <div class="meta">
            <span class="cost">Free</span>
            <span class="title">#: name #</span>
            <span class="description">#: description #</span>
            <span class="rating"></span>
        </div>
        <div class="container-fluid action-bar">
            <div class="row">
                <div class="col-xs-3">
                    <a class="details">
                        <i class="fa fa-ellipsis-h"></i>Details
                    </a>
                </div>
                <div class="col-xs-3">
                    <a class="inquire">
                        <i class="fa fa-comment-o"></i>Inquire
                    </a>
                </div>
                <div class="col-xs-3">
                    <a class="favorite">
                        <i class="fa fa-heart-o"></i>Favorite
                    </a>
                </div>
                <div class="col-xs-3">
                    <a class="complete">
                        <i class="fa fa-check"></i>Complete
                    </a>
                </div>
            </div>
       </div>
    </script>
    
    <!-- End View -->
</div>