<div class="view-container" 
     data-role="view" 
     id="myPlanner" 
     data-title="My Planner" 
     data-layout="planner-header" 
     data-model="app.myPlanner.viewModel" 
     data-init="app.myPlanner.init" 
     data-show="app.myPlanner.show" 
     data-before-show="app.myPlanner.onBeforeShow"
     data-after-show="app.myPlanner.afterShow"
     data-hide="app.myPlanner.hide" 
     data-use-native-scrolling="true"
     >
	<!-- Start View -->
    <!-- Start View -->
   	
	<div class="agenda-header"><strong>Review and Modify your Chosen Activities</strong></div>
   
    <div class="empty activitiesListView" data-template="empty-activity" data-bind="source: state">
        
    </div>
    <script type="text/x-kendo-template" id="empty-activity">
        <div class="alert alert-info" data-bind="attr:{class:activityEmptyClass}">
        	<h3>No Activities Found!</h3>
        	<p>No activities were found using the chosen criteria. Please check upcoming events or change your search criteria <a href="\\#views/filterActivities.html">here</a>.</p>
        </div>
    </script>
    <ul data-role="listview" class="listView activitiesListView" data-bind="source: activities" data-template="activities-template">
    </ul>
    <script type="text/x-kendo-template" id="activities-template">
        <div title="#:indicator#" rel="tooltip" class="indicator">
        	#: indicator #
        </div>
        <div class="meta">
            <span class="cost">Free</span>
            <span class="title"  data-bind="click:loadActivity">#: name #</span>
            <span class="description">#: description #</span>
            <div class="rating">
        	# for (i = 0; i < rating; i++) { #
            	<i class="fa fa-star"></i>
            # } #
        	</div>
        </div>
        <div class="container-fluid action-bar">
            <div class="row">
                <div class="col-xs-3">
                    <a class="details" data-bind="click:loadActivity">
                        <i class="fa fa-ellipsis-h"></i>Details
                    </a>
                </div>
                <div class="col-xs-3">
                    <a class="inquire" data-bind="attr:{href:matchSupportEmail}">
                        <i class="fa fa-comment-o"></i>Inquire
                    </a>
                </div>
                <div class="col-xs-3">
                    <a class="remove" data-bind="click:removeActivity">
                        <i class="fa fa-times"></i>Remove
                    </a>
                </div>
                <div class="col-xs-3">
                    <a class="complete" data-bind="click:trackActivity">
                        <i class="fa fa-check"></i>Track
                    </a>
                </div>
            </div>
       </div>
    </script>
   
    <div class="empty eventsListView passiveHide" data-template="empty-event" data-bind="source: state">
        
    </div>
    <script type="text/x-kendo-template" id="empty-event">
        <div class="alert alert-info" data-bind="attr:{class:eventEmptyClass}">
        	<h3>No Events Found!</h3>
            <p>No events were found using the chosen criteria. Please check upcoming events or change your search criteria <a href="\\#views/filterActivities.html">here</a>.</p>
        </div>
    </script>
    <ul data-role="listview" class="listView eventsListView passiveHide" data-bind="source: events" data-template="events-agenda-template">
    </ul>
    <script type="text/x-kendo-template" id="events-agenda-template">
        <div title="#:indicatorDescription#" rel="tooltip" class="indicator">
        	#: indicator #
        </div>
        <div class="meta">
            <span class="cost">#= kendo.toString(new Date(activityDate), 'MM/dd/yyyy') #</span>
            <span class="title" data-bind="click:loadActivity">#: name #</span>
            <span class="description">#: description #</span>
            <div class="rating">
        	# for (i = 0; i < rating; i++) { #
            	<i class="fa fa-star"></i>
            # } #
        	</div>
        </div>
        <div class="container-fluid action-bar">
            <div class="row">
                <div class="col-xs-3">
                    <a class="details" data-bind="click:inquireActivity">
                        <i class="fa fa-ellipsis-h"></i>Details
                    </a>
                </div>
                <div class="col-xs-3">
                    <a class="inquire" data-bind="attr:{href:matchSupportEmail}">
                        <i class="fa fa-comment-o"></i>Inquire
                    </a>
                </div>
                <div class="col-xs-3">
                    <a class="remove" data-bind="click:removeEvent">
                        <i class="fa fa-times"></i>Remove
                    </a>
                </div>
                <div class="col-xs-3">
                    <a class="complete" data-bind="click:trackActivity">
                        <i class="fa fa-check"></i>Track
                    </a>
                </div>
            </div>
       </div>
    </script>
    
    <!-- End View -->
</div>