<div class="view-container" 
     data-role="view" 
     id="updateInfo" 
     data-title="Update Profile" 
     data-layout="profile-layout" 
     data-model="app.updateInfo.viewModel" 
     data-init="app.updateInfo.init" 
     data-show="app.updateInfo.show" 
     data-before-show="app.updateInfo.onBeforeShow"
     data-after-show="app.updateInfo.afterShow"
     data-hide="app.updateInfo.hide" 
     data-use-native-scrolling="true"
     >
	<!-- Start View -->
    <div class="profile-header container-fluid">
        <div class="row">
            <div class="col-xs-4">
                <div class="circle">
					<a data-bind="click:addImage">
                        <img width="120" data-bind="attr: { src: photo }" />
					</a>
				</div>
            </div>
            <div class="col-xs-7 col-xs-offset-1">
                
                <span class="name" data-bind="text:profile.fullName"></span>
                <span class="since">Match Date: <span class="inline" data-bind="text:profile.matchDate"></span></span>
            </div>
        </div>
    </div>
    
    <div class="container-fluid form">
        <div class="row">
            <div class="col-xs-12">
            	<form>
                    <input class="form-control" data-bind="text:name" placeholder="Name"/>
                    <input class="form-control" data-bind="text:email" placeholder="Email"/>
                    <input class="form-control" data-bind="text:workPhone" placeholder="Work Phone"/>
                    <input class="form-control" data-bind="text:workPhone" placeholder="Cell Phone"/>
                    <a data-bind="click:updateInfo" class="btn btn-clear" style="width:100%;">Update</a>
                </form>
            </div>
        </div>        
    </div> 
    <!-- End View -->
</div>