<div data-role="view" data-title="Agenda" data-layout="main" data-model="app.agendaView" data-show="app.agendaView.onShow">
    <div class="about-view" data-bind="invisible:error">
        <div class="icon-group">


            <div class="app-details">
                <h2>List of Agenda</h2>

            </div>
        </div>


        <div class="button-group button-group-vertical">


        </div>
    </div>
    <!-- START_CUSTOM_CODE_agendaView -->
    <!-- END_CUSTOM_CODE_agendaView -->
</div>